<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ElectroSterk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand "> <img id="logo" src="~/Content/img/logo.png" /> </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Action("PagesMenuPartial", "Pages");
                </ul>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <ul class="adminarea navbar-collapse collapse navbar-right">
                        <li>@Html.ActionLink("Admin Area", "Index","Dashboard", new {area = "Admin"},null)</li>
                    </ul>
                }
                else
                {
                    if ((ViewBag.Title != "Cart Details") && Request.IsAuthenticated && User.IsInRole("User"))
                    {
                        <ul class="navbar-collapse collapse navbar-right">
                            @Html.Action("CartPartial", "Cart")
                        </ul>
                    }

                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="ajaxbg"><span><img src="~/Content/img/ajax-loader.gif" /></span></div>

            @if (ViewBag.Title != "Register" &&
                 ViewBag.Title != "Log in" &&
                 ViewBag.Title != "Manage" &&
                 ViewBag.Title != "Orders")

            {
                <div class="col-xs-12 col-md-2">
                    @Html.Action("CategoryMenuPartial", "Shop")
                </div>
            }

            @if (ViewBag.Title == "Home")
            {
                <div class="col-xs-12 col-md-10">
                    @Html.Action("HomePagePartial", "Pages")
                </div>
            }

            @if (ViewBag.Title == "Manage")
            {
                <div class="col-xs-12 col-md-2">
                    <ul>
                        <li><a href="/account/orders">Mijn bestellingen</a></li>
                    </ul>
                </div>
            }

            @if (ViewBag.Title == "Orders")
            {
                <div class="col-xs-12 col-md-2">
                    <ul>
                        <li><a href="/Manage/Index">Mijn account</a></li>
                    </ul>
                </div>
            }

            @if (ViewBag.Sidebar == "Yes")
            {
                <div class="col-xs-12 col-md-7">
                    @RenderBody()
                </div>
                <div class="col-xs-12 col-md-3">
                    @Html.Action("SidebarPartial", "Pages");
                </div>
            }
            else
            {
                <div class="col-xs-12 col-md-10">
                    @RenderBody()
                </div>
            }
        </div>

        <hr />
        <div class="row">
            <div class="col-xs-12 col-md-4 div-footer">
                <div class="">
                    <h4>Hulp nodig?</h4>
                    <ul class="ul-footer">
                        <li><a href="#">Hulp & vragen</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terugsturen & Omruilen</a></li>
                        <li><a href="#">Voorwaarden</a></li>
                        <li><a href="#">Afhalen</a></li>
                        <li><a href="#">Levering</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 div-footer">
                <div class="">
                    <h4>Electrosterk</h4>
                    <ul class="ul-footer">
                        <li><a href="#">Wie zijn wij?</a></li>
                        <li><a href="#">Privacybeleid</a></li>
                        <li><a href="#">Zakelijk</a></li>
                        <li><a href="#">Winkels</a></li>
                        <li><a href="#">Pers</a></li>
                        <li><a href="#">Jobs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 div-footer">
                <div class="">
                    <h4>Volg ons</h4>
                </div>
                <div>
                    <h4>Download ons</h4>
                    <img src="~/Content/img/app-store.png" /> <br /> <br />
                    <img src="~/Content/img/google-play.png" />
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p><img src="~/Content/img/home-images/payments-card.JPG" style="width: 100%;" /></p>
            <p class="text-center">&copy; @DateTime.Now.Year - ElectroSterk</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
