@model IEnumerable<ElectroSterk.Web.Areas.Admin.Data.Shop.OrdersForAdmin>

@{
    ViewBag.Title = "Orders";
}

<h2>Bestellingen</h2>

@if (!Model.Any())
{
    <h3 class="text-center">There are no orders</h3>
}
else
{
    <table class="table table-order">
        <tr>
            <th>
                Order Number
            </th>
            <th>
                User Name
            </th>
            <th>
                Order Details
            </th>
            <th>
                Created On
            </th>

            <th>
                Total
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @foreach (var i in item.ProductsAndQuantity)
                    {
                        @i.Key @:x @i.Value <br />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    €@Html.DisplayFor(modelItem => item.Total)
                </td>
    </tr>
        }

    </table>
}
